/* INFO */

/*
    black: #1C1E21;
    black alt: #2D2E30;
    blue: #3A75C0;
    link blue: #75A9E6; <- darker variant
    link-hover blue: #7BB5F6; <- lighter variant
    red: #C93E3B;
    green: #51AC45;
    yellow: #EDAD55;
    hover yellow: #D49B4B;
    white: #F4F4F4;
    grey: #9D9D9D;
    mint: #8DFEAE;
*/


/* GENERAL */

html, body {
    font-family: "open sans", "helvetica", sans-serif;
    background-color: #F4F4F4; 
    color: #1C1E21;
    height:100%;
}
* {
    padding: 0;
    margin: 0;
}
a {
    color: #75A9E6;
    text-decoration: none;
}
a:hover {
    color: #7BB5F6;
}
article {
}
.hr {
}
.video {
    width:100%;
    margin: 0 auto;
    background-color: black;
}
.button {
    padding: 16px;
    display: inline-block;
    border: 1px solid #9D9D9D;
    background-color: inherit;
    color: #9D9D9D;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s ease;
}
.button:hover {
    border: 1px solid #B2B2B2;
    background-color: #F4F4F4;
    color: #1C1E21;
    transition: all 0.12s ease;
}
.mint {
    background-color: #8DFEAE;
    border-color: #8DFEAE;
    color: #3D3D3D;
}
.text {
    padding: 0 30%;
}
.people {
    padding: 5% 20% 0 20%;
    text-align: center;
}

/*HERO*/
#tophat {
    background: url(01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: inherit;
    text-align: center;
}
.hero {
    position: relative;
    margin: 0 auto;
    top: 40%;
    transform: translateY(-10%);
    color: rgba(28, 30, 33, .9);
}
.hero-title {
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
}
.hero-sub {
    font-size:2em;
    font-weight: 300;
    font-style: italic;
}


/*INFO*/
.title {
    font-size: 2em;
    font-weight: 800;
}
.content {
    padding: 7% 0;
}
.player {
    background-color: black;
    width:100%;
    text-align: center;
    z-index:99;
}
.videoembed {
    display:block;
    line-height: 0;
    margin: 0 auto;
}

/*CREW*/
.crew {
    background: url(03.jpg) no-repeat center center fixed;
    color: #F4F4F4;
}
.profile {
    width: 30%;
    padding: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9em;
    margin-bottom: 2%;
}
.profpic {
    border-radius: 100%;
    border: 10px solid rgba(255, 255, 255, 0.4);
    max-height: 200px;
}
.job {
    font-style: italic;
    text-align: left;
}

/*SHOP*/
.shop {
    text-align: center;
    padding:64px;
}
.vr {
    display: inline-block;
    padding: 6px 0;
    margin: 0 16px;
    border-left: 1px solid rgba(28, 30, 33, 0.3);
}

/*FOOTER*/
footer {
    color: rgba(73, 75, 77, .55);
    font-size: 0.8em;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
    padding:24px;
}
footer a {
    color: rgba(120, 168, 235, .9);
    text-decoration: none;
    transition: all 0.2s ease;
}
footer a:hover {
    color: rgba(126, 179, 252, .7);